# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment variables
.env
.venv/
venv/
ENV/
env.bak/
env/

# Flask and FastAPI related
instance/
*.db
*.sqlite3

# Pytest
.pytest_cache/
.coverage
htmlcov/

# VSCode
.vscode/

# macOS
.DS_Store

# MyPy
.mypy_cache/

# Jupyter Notebooks
.ipynb_checkpoints

# Logs
*.log

# Build
build/
dist/
*.egg-info/

# Pycharm
.idea/

# Docker
*.pid

# OS generated
Thumbs.db
ehthumbs.db
Desktop.ini
